#container_operations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.container_operation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
}
.container_operation.darkMode {
    border: 1px white solid;
}

.operatorP, .operatorEgal{
    display: inline;
}

input{
    width: 50  px;
    text-align: center;
}
.result{
    height: 2rem;
}

h1{
    font-size: 1.5rem;
}

.global_score{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#reset_all{
    background-color: yellow;
}

button{
    height: 2rem;
}

.headmanagement{
    display: flex;
    justify-content: space-around;
}

#myDarkMode{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50px;
    background-color: yellow;
}

.darkMode{
    color: white;
    background-color: black;
}