#container_operations{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.container_operation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
}

.operatorP, .operatorEgal{
    display: inline;
}

input{
    width: 50  px;
    text-align: center;
}

h1{
    font-size: 1.5rem;
}

.global_score{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#reset_all{
    background-color: yellow;
}
